<p id="notice"><%= notice %></p>

<p>
  <strong>Resquest:</strong>
  <%= @record.resquest_id %>
</p>

<p>
  <strong>Applicant:</strong>
  <%= @record.applicant_id %>
</p>

<p>
  <strong>Volunteer:</strong>
  <%= @record.volunteer_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @record.status %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
